header.app-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px 20px;
}



.global-search > * {
    margin: 0 10px;
}

.global-search input {
    padding-left: 10px;
}

main {
    background: whitesmoke;
    min-height: 100vh;
    display: flex;
}

main .sidebar {
    min-width: 250px;
}

main .main-content {
    flex: auto;
}

header.table-header {
    background: orange;
    position: relative;
    bottom: 20px;
    color: white;
    padding: 10px 10px;
}

header.table-header h2 {
    margin: 10px 0;
    font-size: 25px;
}

header.table-header p {
    margin-left: 10px;
}

.user-roles-flexlayout {
    display: flex;
}

.user-roles-flexlayout > div:first-child {
    flex: 1;
}

.user-roles-flexlayout > div:last-child {
    flex: 2;
    padding: 0 80px 0 20px;
}

.manage-user-roles {
    padding: 20px 20px;
}

.manage-user-roles h1 {
    font-weight: normal;
}

.table-data-and-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

tbody {
    min-height: 261px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
}

table thead th {
    border-bottom: 1px solid black;
}

table td {
    padding: 5px;
}

.table-container {
    min-height: 300px;
}

ul.pagination {
    display: flex; 
}

ul.pagination a {
    margin: 5px;
    padding: 5px;
}

.personnel-section,
.your-projects,
.details-for-project,
.assigned-personnel,
.tickets-for-this-project,
.details-for-ticket,
.ticket-comments,
.ticket-history,
.ticket-history-and-attachment,
.your-tickets {
    border: 1px solid black;
    padding: 0 20px;
    background: white;
    margin: 10px;
    margin-top: 30px;
}

.personnel-section header h2 {
    font-weight: normal;
}

.table-pagination-section {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.table-pagination-section div span {
    margin: 0 10px;
}

.select-user-select-role {
    padding: 0 20px;
}

.show-number {
    border: 1px solid black;
    padding: 4px;
}

.nothing-to-show {
    text-align: center;
    padding: 10px;
}

.page-wrap {
    background: whitesmoke;
    min-height: 100vh;
    padding: 30px 0;
    min-width: 1000px;
}

.your-projects {
    margin: 30px;
}

.create-new-project-button-wrap {
    padding: 20px;
}

.name-and-description-flex {
    display: flex;
}

.name-and-description-flex > div {
    flex: 1;
    margin-bottom: 20px;
}

.assignedpersonnel-and-ticket-details {
    display: flex;
}

.assignedpersonnel-and-ticket-details > div {
    flex: 1;
}

.white {
    padding: 40px 0;
}

.ticket-details-and-comments-flex,
.ticket-history-and-attachment-flex {
    display: flex;
}

.ticket-details-and-comments-flex > div {
    flex: 1;
}

.ticket-history-and-attachment-flex > div {
    flex: 1;
}

.details-for-ticket-layout {
    display: flex;
}

.details-for-ticket-layout > div {
    flex: 1;
}

.add-a-comment-input {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.add-a-comment-input input {
    margin-right: 20px;
    flex: 1;
}

.backtolist-updateticket {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.title-and-description-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-and-description-grid > div {
    padding: 0 20px;
}

.title-and-description-grid h4 {
    font-weight: normal;
}

select.select-project-name,
select.select-developer,
select.select-ticket-priority,
select.select-ticket-status,
select.select-ticket-type {
    width: 80%;
}

.description-text,
.title-text {
    font-weight: 500;
}

.edit-ticket-background {
    background: white;
    width: 60%;
    border: 1px solid black;
    padding: 0 30px;
}

.admin {
    font-weight: 700;
}

.pie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
    margin-bottom: 20px;
}

.pie-grid h2 {
    margin: 0;
    padding: 10px;
    font-weight: normal;

}

.tickets-by {
    background: white;
}


.chart-content {
    margin: 50px;
}


.sidebar-flex {
    display: flex;
    margin: 10px;
}

.sidebar-flex > div {
    flex: 1;
}

.sidebar-flex .fa-user {
    font-size: 50px;
}



.welcome-user {
    display: flex;
    align-items: center;
}



/* The sidebar menu */
.sidebar {
    background: white;
    box-shadow: 10px 5px 5px lightgrey;

}

/* The sidebar links */
.sidebar a {
    text-decoration: none;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}


.sidebar-navlink {
    padding: 10px 0;
    margin: 0 10px;
}

.sidebar-navlink.selected {
    border-radius: 5px;
    background: #0099CC;
    color: white;
}

.sidebar-navlink.selected a {
    color: white;
}


.sidebar-navlink span {
    margin: 5px;
}

.pie-grid {
    min-width: 900px;
}